# Edited by HydroCliff Studios
# My discord: hydrocliff_studios

# WAV music volume:
volume = 100

# WAV music replacements:
comienzo.jul = mods/wavs/Minecraft.wav
bosque.dan = mods/wavs/MiceOnVenus.wav
cueva.sam = mods/wavs/BlindSpots.wav
gelatina.nac = mods/wavs/MiceOnVenus.wav
interiorrobot.ati = mods/wavs/BiomeFast.wav
jefe.bdr = mods/wavs/Danny.wav
jefepic1.zbg = mods/wavs/Cat.wav
tension.dum = mods/wavs/Blocks
